body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif, 'HarryP-MVZ6w';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'HarryP-MVZ6w';
}

@font-face {
  font-family: 'HarryP-MVZ6w';
  src: local('HarryP-MVZ6w'),
  url(./fonts/HarryP-MVZ6w.ttf) format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
 }
